{% extends 'therapist/base.html' %}

{% block content %}
  {% if client %}
    <h2>Assessments for {{ client.name }}</h2>
  {% else %}
    <h2>Anonymous Assessments</h2>
  {% endif %}
  <ul>
    {% for assessment in assessments %}
      <li>{{ assessment.assessment_type.name }} - Score: {{ assessment.score }} - {{ assessment.notes }}</li>
    {% endfor %}
  </ul>
  {% if client %}
    <a href="{% url 'add_assessment' client.id %}">Take a New Assessment</a>
  {% else %}
    <a href="{% url 'add_assessment_no_client' %}">Take a New Assessment</a>
  {% endif %}
{% endblock %}
