{% extends 'therapist/base.html' %}
{% load static %}

{% block title %}הקליניקה של דבורה לאה{% endblock %}

{% block content %}

<section class="hero">
    <h1>הרגיעו את נפשכם. שנו את חייכם.</h1>
    <p>חוו טיפול מקצועי וליווי רגיש לשיפור הרווחה הרגשית שלכם.</p>

    {% if user.is_authenticated %}
        <a href="/dashboard/" class="btn-primary">המשיכו מהיכן שהפסקתם</a>
    {% else %}
        <a href="/Registration/" class="btn-primary">התחילו כאן</a>
    {% endif %}
</section>

<div class="divider">
    <img src="{% static 'images/divider-leaves.svg' %}" alt="קו מפריד דקורטיבי עם עלים">
</div>

<!-- אזור תכונות -->
<section class="features">
    <div class="feature-card">
        </br>
        <img src="{% static 'images/yoga-icon.png' %}" alt="טיפול אישי">
        <h3>טיפול מותאם אישית</h3>
        <p>אנו מתאימים את תוכנית הטיפול לצרכים הייחודיים שלכם.</p>
    </div>
    <div class="feature-card">
        </br>
        <img src="{% static 'images/comp-icon.png' %}" alt="תמיכה">
        <h3>תמיכה רגישה ואמפתית</h3>
        <p>מרחב בטוח ומזמין לביטוי עצמי.</p>
    </div>
    <div class="feature-card">
        <img src="{% static 'images/online-icon.png' %}" alt="טיפול אונליין">
        <h3>מפגשים מקוונים</h3>
        <p>טיפול נגיש מכל מקום בנוחות מירבית.</p>
    </div>
</section>

{% endblock %}
